<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Profile</title>
    </head>
    <body>
        <nav>
            <a href="/"> Your dietary guidelines </a> |  <a href="Signup"> Join Now </a> | <a href="Login">Log In </a> | <a href="https://foedevarestyrelsen.dk/kost-og-foedevarer/alt-om-mad/de-officielle-kostraad"> Read More </a>
        </nav>

        <!-- FOR LOOP USED TO ITERATE BECAUSE COLUMN NAME IS KEPT OTHERWISE -->
        Username:
        {% for name in name %}
        {{name["name"]}}
        {% endfor %}

        <br>
        Email:
        {% for email in email %}
        {{email["email"]}}
        {% endfor %}
        <br>
        <br>

        Collected diplomas:
        <br>
        <br>

        Username's diplomas
        <br>
        <img src="https://www.wannapik.com/media/W1siZiIsIjIwMTYvMDgvMjMvN3Rocnk1Nnc2aF8zYmhmeW16OTBxX3ZjMDI1MTQ0LnBuZyJdXQ/3093042e3c472d65/3bhfymz90q_vc025144.png"
        alt="Diploma pic"
        style="width:200px;height:200px">
        <br>
        Diploma for eating less meat
        <br>
        <br>

        <h1>Past results</h1>
        <table> <!--tr is 'table row'. th is 'table header'. td is 'table data'-->
            <tr>
                <th>Date</th>
                <th>My score</th>
                <th>Advice</th>
            </tr>

            {% for result in results %}
            <tr>
                <td>{{result["date"]}}</td>
                <td>{{result["score"]}}</td>
                <td>{{result["advice"]}}</td>
            </tr>
            {% endfor %}

        </table>
    </body>
</html>
